@using BrunoTheBot.CoreBusiness.Entities.Quiz.DTO

<div class="container mb-4 mt-4 p-4 b-4" style="background-color: aliceblue;">

    <hr />
    <p>
        @foreach (var option in questionQuiz.Options)
        {
            <div @onclick="@(() => {
                questionQuiz.SetAllOptionsFalse();
                questionQuiz.SetOptionTrue(option.Key.ToString());
            })" style="background-color: @(option.Value.Item1 ? "lightgreen" : "white")">
                <div>
                    @option.Value.Item2
                </div>
            </div>
            <hr />
        }
    </p>
</div>

@code {
    [Parameter]
    public QuestionGameDTO questionQuiz { get; set; } = new();
}