@page "/AddTest"
@using Quiztle.CoreBusiness.Entities.PDFData

<h3>
    Add Test Manually
</h3>
@_error

<form @onsubmit="Submit">
    <label for="campo-grande"></label>
    <textarea id="campo-grande" class="input-grande" placeholder="Type..." @bind="jsonInput"></textarea>
    <br><br>
    <input type="submit" value="Submit">
</form>

@if (_tests != null)
{
    foreach (var item in _tests)
    {
        <h5>
            @item.Name
        </h5>
    }
}


@code {
    private string jsonInput = string.Empty;
    private List<Test> _tests = new List<Test>();
    private string _error = "";

    private async Task Submit()
    {
        try
        {
            var test = JsonConvert.DeserializeObject<Test>(jsonInput);
            if (test == null) return;
            test.PDFDataId = null;

            Console.WriteLine(test.Questions.Count);
            Console.WriteLine(test.Name);

            if (test != null)
            {
                Console.WriteLine("Creating Test in CreateTestService.ExecuteAsync...");
                var response = await CreateTestService.ExecuteAsync(test);
                _error = response.Message;
            }

            await LoadTests();

            jsonInput = "";
        }
        catch (Exception ex)
        {
            Console.WriteLine("catch (Exception ex) in AddTestManually...");
            _error = ex.ToString();
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private async Task LoadTests()
    {
        try
        {
            var result = await GetAllTestsService.ExecuteAsync();
            _tests = result.Data;

            Console.WriteLine(_tests.Count);
            _error = result.Message;

        }
        catch (Exception ex)
        {
            _error = ex.ToString();
            throw;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadTests();
        await base.OnInitializedAsync();
    }
}

<style>
    .input-grande {
        width: 100%;
        height: 400px;
        padding: 15px;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>


@* 




  *@