.main-div{
    flex-wrap: wrap;
    width: 100%;
}

.main-input {
    width: 100%;
    height: 400px;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.div-topic {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.input-topic {
    font-size: 1.1em;
}

.div-script {
    display: flex;
    flex-direction: column;
    padding: 10px;
}