@page "/"

<h1>First Deploy</h1>

@foreach (var i in listTests.Data)
{
    <a href="/Games/Arcade/@i.Id">
        @i.Name
    </a>
}

@code {
    private APIResponse<List<Test>> listTests = new APIResponse<List<Test>>
        {
            Data = new List<Test>()
        };

    protected override async Task OnInitializedAsync()
    {
        listTests = await GetAllTests.ExecuteAsync();
        Console.WriteLine(listTests.Data.Count);

        await base.OnInitializedAsync();
    }
}