@page "/login"

@rendermode InteractiveAuto

@inject DefaultAuthenticationStateProvider DefaultAuthenticationStateProvider

@inject NavigationManager NavigationManager

<div class="container">
    <div class="display-5">
        Login
    </div>
    <input type="email" id="email" name="email" placeholder="Email">
    @* <div class="forgot-links">
        Forgot my email
    </div> *@
    <input type="password" id="password" name="password" placeholder="password">
    <div class="forgot-links">
        Forgot my password
    </div>
    <button @onclick="LogIt">
        Login
    </button>
    <button class="google-button" disabled>
        <img src="/svg/google.png"/>
        Login with google (coming soon)
    </button>
    <hr>
    <button @onclick="GoToRegister" class="div-login-link">Not registered? Register</button>
</div>

@code {
    private void GoToRegister()
    {
        Console.WriteLine("GoToRegister");
        NavigationManager.NavigateTo("/register", true);
    }

    private async Task LogIt()
    {
        await DefaultAuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}