@page "/uploadfile"

@inject UploadFileService UploadFileService
@inject UploadedFilesListService UploadedFilesListService
@inject PDFToDataFromStreamService PDFToDataFromStreamService

@using Microsoft.AspNetCore.Components.Forms

<h3>Upload File</h3>

<div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupFile01">Upload</label>
    <InputFile OnChange="HandleSelected" />
</div>

@if (!string.IsNullOrEmpty(Message))
{
     <p>@Message</p>
}
<hr />

<h5> Files: </h5>
@if (filesList != null)
{
    foreach (var item in filesList)
    {
        <p>@item</p>
        <hr />
    }
    <p> Total files: @filesList.Count </p>
}

@code {
    private string? Message { get; set; }
    private List<string> filesList = new List<string>();
    private bool isRendered = false;

    private async Task HandleSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var response = await UploadFileService.UploadAsync(file);
        Message = "File uploaded successfully. Server response: " + response;
        await RefreshFilesList();
        if (response.Data) await ProcessPDFToString(file.Name);
        else Message = response.Message;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (filesList == null || !filesList.Any())
            {
                await RefreshFilesList();
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task ProcessPDFToString(string fileName)
    {
        var response = await PDFToDataFromStreamService.ExecuteAsync(fileName, "PDFDataName" + fileName);
        Message = response.Message;
        StateHasChanged();
    }

    private async Task RefreshFilesList()
    {
        var result = await UploadedFilesListService.ExecuteAsync();
        if (result.Data?.FilePaths != null)
        {
            filesList = result.Data.FileNames;
            Message = result.Message;
            StateHasChanged();
        }
    }
}
