@page "/add-scratch"
@using Quiztle.CoreBusiness.Entities.Scratch
@using Quiztle.CoreBusiness.Utils
@inject AddScratchService AddScratchService

<div class="container">

    <h3>Add Scratch</h3>

    <input placeholder="Scratch Name" @bind="scratch.Name" />

    @foreach (var content in scratch.Drafts!)
    {
        <input placeholder="Content" @bind="scratch.Drafts![scratch.Drafts.IndexOf(content)]" />
    }

    <button @onclick="AddContent">add Content</button>

    <hr />
    <button @onclick="Finish">FINISH</button>
    <hr />
</div>

@code {
    private Scratch scratch = new();

    private void AddContent()
    {
        scratch.Drafts!.Add("");
        Console.WriteLine(scratch.Name);
        foreach(var content in scratch.Drafts!)
        {
            Console.WriteLine(content);
        }
    }

    private async void Finish()
    {
        var result = await AddScratchService.ExecuteAsync(scratch);

        Console.WriteLine(result.Status);

        if (result.Status != CustomStatusCodes.SuccessStatus)
        {
            Console.WriteLine("error: " + result.Status);
        }
    }
}
