.hero {
    background: conic-gradient(from 180deg at 50% 50%, #1E3A8A, #1E3A8A 25%, #263A8C 25%, #263A8C 50%, #1E3A8A 50%, #1E3A8A 75%, #263A8C 75%, #263A8C), radial-gradient(circle at bottom left, #1E3A8A, transparent 50%), radial-gradient(circle at bottom right, #1E3A8A, transparent 50%);
    background-blend-mode: screen;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 2rem;
    line-height: 1;
}

.hero-content {
    max-width: 600px;
}

.display-main-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    color: whitesmoke;
    margin-bottom: 30px;
}

.display-main-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: whitesmoke;
    margin-bottom: 30px;
}

.display-main-3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5rem;
    color: whitesmoke;
}

.hero-buttons {
    margin-bottom: 30px;
}

.hero .btn {
    margin: 1.5rem;
}

.btn-primary {
    color: #fff;
    background-color: #1E3A8A; /* Azul Real */
    border-color: #1E3A8A; /* Azul Real */
    padding: 1rem 2rem; /* Aumenta o padding para tornar o botão maior */
    font-size: 1.25rem; /* Aumenta o tamanho da fonte */
    border-radius: 0.5rem; /* Adiciona um leve arredondamento */
    text-transform: uppercase; /* Transforma o texto em maiúsculas para maior impacto */
}

.btn-secondary {
    color: #fff;
    background-color: #10B981; /* Verde Claro */
    border-color: #10B981; /* Verde Claro */
    padding: 1rem 2rem; /* Aumenta o padding para tornar o botão maior */
    font-size: 1.25rem; /* Aumenta o tamanho da fonte */
    border-radius: 0.5rem; /* Adiciona um leve arredondamento */
    text-transform: uppercase; /* Transforma o texto em maiúsculas para maior impacto */
}

