@page "/OldAPI"

@using System.Text.Json
@using BrunoTheBot.CoreBusiness
@using BrunoTheBot.CoreBusiness.Log
@using CoreBusiness.Entities

@inject HuggingFaceAPI HuggingFaceAPI
@inject DeepSeekAPI DeepSeekAPI
@inject AILogService AILogService

<PageTitle>Home</PageTitle>

<h3>API Result:</h3>
<pre>
    @resultAPI
</pre>

<hr />

<textarea type="text" size="50000" style="width: 100vh; height: 30vh;" @bind=inputAPI1 />
<button @onclick="GetHugginFaceAPI">Get</button>

<hr />

<textarea type="text" size="50000" style="width: 100vh; height: 30vh;" @bind=inputAPI2 />
<button @onclick="GetAIAPI">Get</button>
<hr />

@if (logs != null)
{
    foreach (var log in logs)
    {
        <p>@log.JSON</p> <!-- substitua PropertyName pelos nomes das propriedades de AILog -->
    }
}

@code {
    private string inputAPI1 = "";
    private string inputAPI2 = "";
    private string resultAPI = "no results yet.";
    private IEnumerable<AILog>? logs;

    protected override async Task OnInitializedAsync()
    {
        logs = await AILogService.GetAILogsAsync(); // obter os logs do serviço
    }

    private async Task GetHugginFaceAPI()
    {
        Console.WriteLine("Retrieving Hugging Face API...");
        resultAPI = await HuggingFaceAPI.GenerateTextAsync(inputAPI1);
        Console.WriteLine("API Response:");
        Console.WriteLine(resultAPI);

        if (!string.IsNullOrEmpty(resultAPI)) // Verifica se resultAPI não está vazio
        {
            await AILogService.CreateAILogAsync(new AILog
                {
                    JSON = resultAPI
                });
        }

        StateHasChanged();
    }

    private async Task GetAIAPI()
    {
        Console.WriteLine("Retrieving DeepSeekAPI API...");
        resultAPI = await DeepSeekAPI.GenerateTextAsync(inputAPI2);
        Console.WriteLine("API Response:");
        Console.WriteLine(resultAPI);

        if (!string.IsNullOrEmpty(resultAPI))
        {
            await AILogService.CreateAILogAsync(new AILog
                {
                    JSON = resultAPI
                });
        }

        StateHasChanged();
    }
}