@page "/logout"
@inject NavigationManager Navigation
@inject HttpClient Http

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var response = await Http.PostAsync("authentication/logout", null);

        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            // Handle error
        }
    }
}
