@page "/Questions"

@inject GetQuestionsService GetQuestionsService


<h3>AllQuestions</h3>

@foreach(var item in _questions)
{
    <h5>
        @item.Name
    </h5>
}

@code {
    private List<Question> _questions = new();

    protected override async Task OnInitializedAsync()
    {
        var questionsResult = await GetQuestionsService.ExecuteAsync();
        _questions = questionsResult.Data.ToList();
        Console.WriteLine(questionsResult.Message);
        Console.WriteLine(_questions.Count);
    }
}
