<div class="container bg-fx">
    <img src="img/courses/microsoft-certified-fundamentals-badge.svg" />

    <div class="card-title">
        Azure AZ-900
    </div>

    <div class="card-description">
        @foreach (var item in contents)
        {
            <div class="transparent-chip">
                @item
            </div>
        }
    </div>

    <div class="questions-container">
        <div class="questions-amount">
            30
        </div>
        <div class="questions-literal">
            questions
        </div>
    </div>

</div>

@code {
    private string[] contents =
    {
        "Compute",
        "Networking",
        "Storage",
        "Infrastructure management",
        "Database management",
        "Software development"
    };
}
