.fixed-bottom-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px; /* Ajuste conforme necessário para o espaçamento */
    background-color: #fff; /* Opcional: Adiciona um fundo branco para o botão */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Opcional: Adiciona uma sombra para destaque */
}

.btn {
    border-radius: 0; /* Opcional: Remove a borda arredondada para um estilo mais reto */
}
