<div class="hero-container">

    <div class="p-2 text-center hero-font">
        Get wiser with Quiztle.
    </div>

    <div class="badge-container">
        <span class="badge rounded-pill text-bg-primary">
            <i class="fas fa-book"></i> Read
        </span>
        <span class="badge rounded-pill text-bg-secondary">
            <i class="fas fa-pencil-alt"></i> Answer
        </span>
        <span class="badge rounded-pill text-bg-success">
            <i class="fas fa-lightbulb"></i> Learn
        </span>
    </div>
    <div class="m-4 sub-hero-font text-center">
        Hands-on learning is the
        <span class=" arsenal-sc-regular highlight">
            most effective approach
        </span>
    </div>
</div>