@page "/FreeCourseList"


<div class="container d-flex flex-wrap justify-content-evenly main-div">

    <FreeCourseCard
        Title="Azure AZ-900 Fundamentals"
        Image="microsoft-certified-fundamentals-badge.svg"
        QuestionsAmount="30 "
        Contents="Az900Contents">
    </FreeCourseCard>


     <PremiumCourseCard
        Title="Azure AZ-900 Fundamentals"
        Image="microsoft-certified-fundamentals-badge.svg"
        QuestionsAmount="200 "
        Contents="Az900Contents">
    </PremiumCourseCard>

@*     <CourseCard
        Title="Azure AZ-900 Fundamentals"
        Image="microsoft-certified-fundamentals-badge.svg"
        QuestionsAmount="30 "
        Contents="Az900Contents">
    </CourseCard>

    <CourseCard
        Image="microsoft-certified-associate-badge.svg"
        Title="Azure AZ-104 Administrator Associate"
        QuestionsAmount="200"
        Contents="Az104Contents">
    </CourseCard> *@

</div>

@code {
    private string[] Az900Contents =
    {
        "Azure cloud concepts",
        "Azure architecture and services",
        "Azure management and governance"
    };

    private string[] Az104Contents =
    {
    "Manage Azure identities and governance",
    "Implement and manage storage",
    "Deploy and manage Azure compute resources",
    "Implement and manage virtual networking",
    "Monitor and maintain Azure resources"
    };
}