<div style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;">
    <h4>
        <img src="gif/Rocket.gif" style="width: 100px; height: 100px;" alt=""/>
        <br />
        LOADING...
    </h4>
</div>
