@page "/PDFDataManager"

@using BrunoTheBot.CoreBusiness.Entities.PDFData
@inject GetAllPDFDataService GetAllPDFDataService


<h3 class="mb-5">PDFDataManager</h3>

@if(pdfDataAPIResponse != null)
{
    <h5>
        @foreach (var item in pdfDataAPIResponse.Data)
        {
            <TestsPDFDataItemModule pdfData="item"></TestsPDFDataItemModule>
            <hr />
        }
    </h5>
}

@code {
    APIResponse<List<PDFData>> pdfDataAPIResponse = new APIResponse<List<PDFData>>()
        {
            Data = new List<PDFData>()
        };

    protected override async Task OnInitializedAsync()
    {
        await LoadPdfData();
    }

    private async Task LoadPdfData()
    {
        try
        {
            pdfDataAPIResponse = await GetAllPDFDataService.ExecuteAsync();
            if (pdfDataAPIResponse.Data == null) throw new Exception("PDFDataManager.razor: No books found in the API response.");
        }
        catch (Exception ex)
        {
            throw new Exception($"PDFDataManager.razor: An error occurred: {ex.Message}");
        }
    }
}
