@using BrunoTheBot.CoreBusiness.Entities.PDFData

<h4>
    @pdfData.Name
</h4>
<div class="bg-light p-2 b-2 mb-2">
    <h5>
        Tests
    </h5>
    <div class="container bg-light p-2 bb-4 mb-2" style="background-color: dimgrey;">
        @foreach (var item in pdfData.Tests)
        {
            <p>
                <a href="/Games/Test/@item.Id" target="_blank">@item.Name.ToString() : @item.Questions.Count questions</a>
            </p>
        }
    </div>

</div>

@code {
    [Parameter]
    public PDFData pdfData { get; set; } = new PDFData();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}
