.main-div {
    padding: 10px;
}


.gap {
    width: 100%; /* Largura padrão para dispositivos móveis */
    margin: 0 auto; /* Centraliza o elemento */
}

@media (min-width: 576px) { /* Para telas pequenas e maiores */
    .gap {
        height: 20px;
    }
}

@media (min-width: 768px) { /* Para telas médias e maiores */
    .gap {
        height: 30px;
    }
}

@media (min-width: 992px) { /* Para telas grandes e maiores */
    .gap {
        height: 40px;
    }
}
