@if (_isVisible)
{
    <div class="full-screen-div">
        <div class="container bg-fx">
            <div class="close-btn">
                <button @onclick="CloseBtn">
                    close
                    <img src="svg/utils/close-bold.svg" style="width: 40px; height: 40px;" />
                </button>
            </div>

            <img src="svg/test-rating/@Image" />

            <div class="card-title text-center">
                @Title
            </div>

            <div class="card-title text-center">
                Score:
            </div>

            <div class="questions-container">
                <div class="questions-amount">
                    @Score
                </div>
                <div class="questions-literal">
                    of @TotalQuestions
                </div>
            </div>

            <div class="card-buttons">
                <a href="/signup" class="btn btn-primary">Next Game</a>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public required string Title { get; set; }
    [Parameter]
    public required int Score { get; set; }
    [Parameter]
    public required int QuestionsAmount { get; set; }
    [Parameter]
    public required int TotalQuestions { get; set; }

    private bool _isVisible = true;

    public required string Image { get; set; }

    protected override void OnInitialized()
    {
        SetImageBasedOnScore();
        base.OnInitialized();
    }

    protected override Task OnParametersSetAsync()
    {
        SetImageBasedOnScore();
        return base.OnParametersSetAsync();
    }

    private void SetImageBasedOnScore()
    {
        // Calcula o percentual
        var percentage = (double)Score / TotalQuestions * 100;

        // Define a imagem com base no percentual
        if (percentage < 50)
        {
            Image = "less-50-shield.svg";
        }
        else if (percentage >= 50 && percentage < 80)
        {
            Image = "50-shield.svg";
        }
        else
        {
            Image = "80-shield.svg";
        }
    }

    private void CloseBtn()
    {
        _isVisible = false;
    }
}
