:root {
    --color1: #FF5733; /* Cor 1 em hexadecimal */
    --color2: #33FF57; /* Cor 2 em hexadecimal */
    --color3: #3357FF; /* Cor 3 em hexadecimal */
    --opacidade: 0.1; /* Opacidade */
}

.main-div {
    background-color: rgba( --color1, --color2, --color3, var(--opacidade));
    border-radius: 7.5px;
    margin-bottom: 15px;
    padding: 10px 10px;
}

.hint-button {
    background-color: cornflowerblue;
    color: white;
}

.hint-text{
    padding: 10px 10px;
}

.btn {
    margin: 5px; /* Margem opcional entre os botões */
}

.w-50 {
    width: 50%; /* Define a largura de cada botão para 50% */
}

.option {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
}

.selected {
    background-color: #cce5ff;
    color: #004085;
}

.correct {
    border: 3px solid blue;
    background-color: #cce5ff;
    color: #004085;
}

.incorrect {
    border: 3px solid red;
    background-color: #f8d7da;
    color: #721c24;
}

.not-selected-correct {
    border: 3px solid blue;
}