.main-div {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 7.5px;
    margin-bottom: 15px;
    padding: 10px 10px;
}

.hint-button {
    background-color: cornflowerblue;
    color: white;
}

.btn {
    margin: 5px; /* Margem opcional entre os botões */
}

.w-50 {
    width: 50%; /* Define a largura de cada botão para 50% */
}

.option {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
}

.selected {
    background-color: #6474c3;
    color: #fefff2;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

.hint-text {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}