.full-screen-container {
    position: fixed;
    top: 97px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: radial-gradient(circle, white, #d8d1ff);
    color: #2647a5;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

@media (max-width: 900px) {
    .full-screen-container {
        top: 77.19px;
    }
}

.greeting {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 2rem;
    color: #1E3A8A;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: linear-gradient(130deg, #d8d1ff, #2647a5);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.test-performances-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.performance-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}



@media (max-width: 768px) {

    .test-name {
        font-size: 1.3rem;
    }

    .test-count, .average-performance {
        font-size: 1rem;
    }

    .performance-item {
        font-size: 0.9rem;
    }

    .learn-more-btn {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .performance-card {
        width: 95%;
    }

    .test-name {
        font-size: 1.2rem;
    }

    .test-count, .average-performance {
        font-size: 0.9rem;
    }

    .performance-item {
        font-size: 0.8rem;
    }

    .learn-more-btn {
        padding: 6px 12px;
    }
}

.test-name {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 1.5rem;
    color: #1E3A8A;
    text-align: center;
}

.test-count, .average-performance {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #333333; /* Mudança de vermelho para cinza quase preto */
    text-align: center;
}

.tag-performance-card {
    background-color: rgba(0, 0, 0, 0.05); /* Preto com 10% de opacidade */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 15px; /* Espaçamento interno */
    margin-top: 10px; /* Espaço acima do card */
}


.performance-item {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #d8d1ff;
}

.learn-more-btn {
    background: linear-gradient(130deg, #1E3A8A, #2647a5);
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
}
