<h3>AddBookManually</h3>

<div class="container">
<input placeholder="Book Name" />

<input placeholder="Chapter Name" />
<button>add Chapter</button>

<input placeholder="Section Name" />
<button>add Section</button>

<input placeholder="Content" />
<button>add Content</button>
<hr />
    <button>FINISH</button>
    <hr />
</div>



@code {
    private int _chaptersAmount = 1;
    
}
