@page "/about"

<MudContainer Style="margin-top: 30px" MaxWidth="MaxWidth.Medium">
    <MudGrid>
        <MudItem xs="12">
            <MudText Typo="Typo.h3" GutterBottom="true">About Us</MudText>
            <MudText Typo="Typo.h5">
                At Certcool, we're dedicated to revolutionizing the way people learn and engage with educational content. Our mission is to provide a platform that offers a massive quantity of practice questions at a super affordable price, making learning interactive, efficient, and enjoyable.
            </MudText>
        </MudItem>

        <div></div>

        <MudItem xs="12">
            <MudText Typo="Typo.h4" GutterBottom="true">Our Vision</MudText>
            <MudText Typo="Typo.body1">
                We envision a world where knowledge is easily accessible and engaging for everyone. By harnessing the power of advanced technologies, we strive to make education more interactive and tailored to individual needs.
            </MudText>
        </MudItem>

        <MudItem xs="12">
            <MudText Typo="Typo.h4" GutterBottom="true">How It Works</MudText>
            <MudText Typo="Typo.body1">
                <b>Get Access to Massive Practice Questions:</b> Access a wide variety of practice questions across multiple topics.<br />
                <b>Affordable Pricing:</b> Our platform offers super affordable prices for all users.<br />
                <b>Interactive Learning:</b> Engage with the questions and improve your knowledge and retention.
            </MudText>
        </MudItem>

        <MudItem xs="12">
            <MudText Typo="Typo.h4" GutterBottom="true">Who We Serve</MudText>
            <MudText Typo="Typo.body1">
                Our platform caters to a diverse audience, including:
                <ul>
                    <li>Students: From primary to higher education, looking to reinforce their learning.</li>
                    <li>Professionals: Seeking continuous education and skill enhancement.</li>
                    <li>Educators: Wanting to create interactive quizzes quickly and efficiently.</li>
                </ul>
            </MudText>
        </MudItem>

        <MudItem xs="12">
            <MudText Typo="Typo.h4" GutterBottom="true">Why Choose Certcool?</MudText>
            <MudText Typo="Typo.body1">
                <ul>
                    <li><b>Efficiency:</b> A massive collection of practice questions available at affordable rates.</li>
                    <li><b>Interactivity:</b> Engage with the content in a fun and interactive manner.</li>
                    <li><b>Customization:</b> Tailored quizzes to meet your learning needs.</li>
                </ul>
            </MudText>
        </MudItem>
    </MudGrid>
</MudContainer>
