<div class="curved-div">
    <svg viewBox="0 0 100 25" xmlns="http://www.w3.org/2000/svg">
        <path d="M 0 0 Q 50 25 100 0" fill="none" stroke="black" stroke-width="2" />
    </svg>
</div>

<style>
    .curved-div {
        position: relative;
        width: 100%;
        height: 100px;
        background-color: #f0f0f0;
        overflow: hidden;
    }

        .curved-div svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
</style>
