@rendermode InteractiveAuto

<div class="hero">
    <div class="hero-content">
        <div class="display-main-1 pb-2">
            Earn certification through real, hands-on learning.
        </div>
        <div class="display-main-2">
            Read, answer, learn.
        </div>

        <div class="hero-buttons">
            <button class="btn btn-primary" @onclick="GoTest">Get Started Now</button>
            <a href="/About" class="btn btn-secondary">Learn More</a>
        </div>
    </div>
</div>

@code {
    private void GoTest()
    {
        Nav.NavigateTo("/Games/Arcade/e254723e-3379-4183-8891-a1862f454470", true);
    }
}

