
<div class="hero">
    <div class="hero-content">
        <div class="display-main-1">
            
                Earn certification through real, hands-on learning.
            
        </div>
        <div class="display-main-2">

            Read, answer, learn.

        </div>

        <div class="hero-buttons">
            <a href="/signup" class="btn btn-primary">Get Started Now</a>
            <a href="/learn-more" class="btn btn-secondary">Learn More</a
        </div>

    </div>
</div>