@page "/Support"

@rendermode InteractiveAuto

<MudContainer
    Style="display: flex;
       justify-content: center;
       align-items: center;
       height: 70vh;
       text-align: center;">
    <div>
        <MudIcon
            Style="margin: 30px"
            Icon="@Icons.Material.Filled.SupportAgent"
            Size="Size.Large">
        </MudIcon>
        <h3>We're here to help!</h3>
        <p>If you have any questions, feedback, or concerns, feel free to reach out to us. Your thoughts matter, and we'd love to hear from you!</p>

        <h4>Contact us at:</h4>
        <p><strong>talk@certcool.com</strong></p>

        <p>Whether it's a suggestion, complaint, or praise, we're always eager to hear from our users. Your feedback helps us improve and continue delivering the best possible experience.</p>

        <p>We're committed to providing excellent support and will respond as quickly as possible. Thank you for being part of our community!</p>
    </div>
</MudContainer>