@using Quiztle.Frontend.Client.APIServices.StripeService
@using Quiztle.Frontend.Client.Utils

@inject GetUserInfos GetUserInfos
@inject StripeCustomerService StripeCustomerService

@rendermode InteractiveAuto

@page "/Courses"

<div class="container d-flex flex-wrap justify-content-evenly main-div">

    <FreeCourseCard Title="Azure AZ-900 Fundamentals"
                    Image="microsoft-certified-fundamentals-badge.svg"
                    QuestionsAmount="40"
                    Contents="Az900Contents"
                    testId="ac6a50d3-149f-4348-ae0a-ad3e6d764971">
    </FreeCourseCard>

    <FreeCourseCard Title="Azure AZ-104 Associate"
                    Image="microsoft-certified-fundamentals-badge.svg"
                    QuestionsAmount="40"
                    Contents="Az104Contents"
                    testId="d31168d7-f494-4130-9f25-6439f01d11ac">
    </FreeCourseCard>

    <PremiumCourseCard Title="Azure AZ-900 Fundamentals"
                       Image="microsoft-certified-fundamentals-badge.svg"
                       QuestionsAmount="200"
                       Contents="Az900Contents"
                       Enabled="true"
                       PriceId="price_1QFK7mLKiSsrfvcHlfb5vKTM"
                       TestId="d31168d7-f494-4130-9f25-6439f01d11ac">
    </PremiumCourseCard>

    <PremiumCourseCard Title="Azure AZ-204 Developer Associate"
                       Image="microsoft-certified-associate-badge.svg"
                       QuestionsAmount="200"
                       Contents="Az204Contents"
                        Enabled="true"
                       PriceId="price_1QFHxpLKiSsrfvcHwW4bOlH2"
                       TestId="d31168d7-f494-4130-9f25-6439f01d11ac">
    </PremiumCourseCard>
</div>

@code {
    private string[] Az900Contents =
    {
        "Azure cloud concepts",
        "Azure architecture and services",
        "Azure management and governance"
    };

    private string[] Az204Contents =
    {
        "Develop Azure compute solutions",
        "Develop for Azure storage",
        "Implement Azure security",
        "Monitor, troubleshoot, and optimize Azure solutions",
        "Connect to and consume Azure services"
    };

    private string[] Az104Contents =
    {
        "Manage Azure identities and governance",
        "Implement and manage storage",
        "Deploy and manage Azure compute resources",
        "Implement and manage virtual networking",
        "Monitor and maintain Azure resources"
    };

    private string[] Ai102Contents =
    {
        "Plan and manage an Azure AI solution",
        "Implement image and video processing solutions",
        "Implement natural language processing solutions",
        "Implement knowledge mining solutions",
        "Implement conversational AI solutions"
    };

    private string[] Dp203Contents =
    {
        "Design and implement data storage",
        "Design and develop data processing",
        "Design and implement data security",
        "Monitor and optimize data solutions",
        "Design data integration"
    };

    private string[] Az305Contents =
    {
        "Design identity, governance, and monitoring solutions",
        "Design data storage solutions",
        "Design business continuity solutions",
        "Design infrastructure solutions",
        "Design solutions for applications"
    };


    protected override async Task OnInitializedAsync()
    {
        var email = await GetUserInfos.GetUserEmail();
        Console.WriteLine(email);
        
        var result = await StripeCustomerService.SearchCustomerByEmail(email);

        Console.WriteLine(result);
    }
}
