@using Quiztle.Frontend



<div class="container bg-fx">
    <img src="img/courses/@Image" />

    <div class="card-title text-center">
        @Title
    </div>

    <div class="questions-container">
        <div class="questions-amount">
            @QuestionsAmount
        </div>
        <div class="questions-literal">
            questions
        </div>
    </div>

    <div class="card-description">
        @foreach (var item in Contents)
        {
            <div class="transparent-chip">
                @item
            </div>
        }
    </div>

    <button class="card-buttons" @onclick="Checkout">
        PLAY NOW
    </button>

    <div class="crown">
        <img src="svg/courses/crown.svg" />
    </div>
</div>

@code {
    [Parameter]
    public required string Image { get; set; }

    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required int QuestionsAmount { get; set; }

    [Parameter]
    public required string[] Contents { get; set; }

    [Parameter]
    public required string PriceId { get; set; }

    [Parameter]
    public required bool Enabled { get; set; }


    private void Checkout()
    {
        
    }

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }
}
