@using Quiztle.Frontend.Client.APIServices.StripeService

<div class="container bg-fx">
    <img src="img/courses/@Image" />

    <div class="card-title text-center">
        @Title
    </div>

    <div class="questions-container">
        <div class="questions-amount">
            @QuestionsAmount
        </div>
        <div class="questions-literal">
            questions
        </div>
    </div>

    <div class="card-description">
        @foreach (var item in Contents)
        {
            <div class="transparent-chip">
                @item
            </div>
        }
    </div>

@*     <button class="card-buttons" @onclick="PlayGame">
        PLAY NOW
    </button> *@

    <div class="card-buttons">
        <a href="/Games/Arcade/@TestId" target="_blank" class="btn btn-secondary">
            PLAY NOW
        </a>
    </div>

    <div class="crown">
        <img src="svg/courses/crown.svg" />
    </div>
</div>

@code {
    [Parameter]
    public required string Image { get; set; }

    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required int QuestionsAmount { get; set; }

    [Parameter]
    public required string[] Contents { get; set; }

    [Parameter]
    public required string PriceId { get; set; }

    [Parameter]
    public required bool Enabled { get; set; }

    [Parameter]
    public required string TestId { get; set; }

    private void PlayGame()
    {
        Nav.NavigateTo($"/Games/Arcade/{TestId}");
    }

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }
}
