@page "/register"

<div class="container">
    <div class="display-5">
        Register
    </div>
    <input type="email" id="email" name="email" placeholder="Email">
    <div class="forgot-links">
        Forgot my email
    </div>
    <input type="password" id="password" name="password" placeholder="password">
    <div class="forgot-links">
        Forgot my password
    </div>
    <button>Submit</button>
    <button class="google-button">
    
        <img src="/svg/google.png"/>
        Register with google
        
    </button>
    <hr>
    <button class="div-login-link">Already registered? Login</button>
</div>