@page "/register"
@using Quiztle.CoreBusiness

@inject CreateUserService CreateUserService

@rendermode InteractiveAuto

@inject NavigationManager NavigationManager

<div class="container">
    <div class="display-5">
        Register
    </div>

    <input type="email" id="email" name="email" placeholder="Email" @bind-value="userEmail" @bind-value:event="oninput">


@*     <div class="forgot-links">
        Forgot my email
    </div> *@

    <input type="password"
        id="password"
        name="password"
        placeholder="password"
           @bind="userPass">

@*     <div class="forgot-links">
        Forgot my password
    </div> *@

    <button @onclick=RegisterUser>
        Submit
        </button>

    <button class="google-button">
    
        <img src="/svg/google.png"/>
        Register with google
        
    </button>
    <hr>
    <button @onclick="GoToLogin" class="div-login-link">Already registered? Login</button>
</div>

@code{
    private string userEmail = "teste@teste.com";
    private string userPass = "";

    private void GoToLogin()
    {
        Console.WriteLine("GoToLogin");
        NavigationManager.NavigateTo("/login", true);
    }

    private async Task RegisterUser()
    {
        var newUser = new User
            {
                Email = userEmail,
                Password = userPass,
                Role = Roles.RegularUser,
            };

        var result = await CreateUserService.ExecuteAsync(newUser);
    }
}