@page "/Book/{bookId}"
@using BrunoTheBot.CoreBusiness.APIEntities
@inject RetrieveBookByIdService RetrieveBookByIdService

@if (bookAPIResponse != null && bookAPIResponse.Book != null)
{
    <h1>@bookAPIResponse.Book.Name</h1>

    @foreach (var chapter in bookAPIResponse.Book.Chapters)
    {
        <h2>@chapter.Name</h2>
        foreach (var sectionObj in chapter.Sections)
        {
            <p>
                @sectionObj.Name
                @sectionObj.Content.Text
            </p>
        }
    }
}

@code {
    private BookAPIResponse bookAPIResponse = new();

    [Parameter]
    public string BookId { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        if (!int.TryParse(BookId, out int bookId))
        {
            return;
        }

        bookAPIResponse = await RetrieveBookByIdService.ExecuteAsync(bookId);
    }
}
