@page "/Book/{bookId}"
@using BrunoTheBot.CoreBusiness.APIEntities
@using BrunoTheBot.CoreBusiness.Entities.Course
@inject RetrieveBookByIdService RetrieveBookByIdService

@if (bookAPIResponse != null && bookAPIResponse.Data != null)
{
    <h1>@bookAPIResponse.Data.Name</h1>

    @foreach (var chapter in bookAPIResponse.Data.Chapters)
    {
        <h2>@chapter.Name</h2>
        foreach (var sectionObj in chapter.Sections)
        {
            <p>
                @sectionObj.Name
                @sectionObj.Content.Text
            </p>
        }
    }
}

@code {
    private APIResponse<Book> bookAPIResponse = new APIResponse<Book>
        {
            Data = new Book()
        };

    [Parameter]
    public string BookId { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        if (!int.TryParse(BookId, out int bookId))
        {
            return;
        }

        bookAPIResponse = await RetrieveBookByIdService.ExecuteAsync(bookId);
    }
}
