@page "/"
@page "/API"

@using System.Text.Json
@using BrunoTheBot.CoreBusiness.Entities.Course
@using BrunoTheBot.CoreBusiness.Log
@using CoreBusiness.Entities
@using Newtonsoft.Json.Linq
@using BrunoTheBot.CoreBusiness.APIEntities

@inject GetAllSchoolsService GetAllSchoolsService

<PageTitle>Home</PageTitle>

<h4>
    Courses:
    <pre>
        @foreach (var school in Schools)
        {
            @school.Name;
        <hr />
        }
    </pre>
</h4>


@code {

    private List<School> Schools = [];
    private SchoolsAPIResponse response = new();

    protected override async Task OnInitializedAsync()
    {
        response = await GetAllSchoolsService.ExecuteAsync();

        var schoolsList = response.Schools!.ToList();

        foreach (var school in schoolsList)
        {
            Schools.Add(school);
            Console.WriteLine(school.Name);
        }
        StateHasChanged();
    }
}
