@page "/"
@page "/API"

@using System.Text.Json
@using BrunoTheBot.CoreBusiness.Entities.Course
@using BrunoTheBot.CoreBusiness.Log
@using CoreBusiness.Entities
@using Newtonsoft.Json.Linq
@using BrunoTheBot.CoreBusiness.APIEntities

@inject GetAllBooksService GetAllBooksService

<PageTitle>Home</PageTitle>

<h4>
@*     Courses:
        @foreach (var book in Books)
        {
            @book.Name;
        <br />

        foreach (var chapters in book.Chapters)
        {
            @chapters.Name.ToString();
        }
    } *@
</h4>

@code {

    // private List<Book> Books = [];
    // private BooksAPIResponse response = new();

    // protected override async Task OnInitializedAsync()
    // {
    //     response = await GetAllBooksService.ExecuteAsync();

    //     var booksList = response.Books!.ToList();

    //     foreach (var book in booksList)
    //     {
    //         Books.Add(book);
    //         Console.WriteLine(book.Name);
    //     }
    //     StateHasChanged();
    // }
}
