@page "/"
@page "/API"

@using System.Text.Json
@using BrunoTheBot.CoreBusiness
@using CoreBusiness.Entities
@using Newtonsoft.Json.Linq


@inject AILogService AILogService
@inject ChatGPTAPIService ChatGPTAPIService

<PageTitle>Home</PageTitle>

<textarea type="text" size="50000" style="width: 600px; height: 30vh;" @bind=inputAPI1 />
<button @onclick="MakeChatGPTAPIRequest">Get</button>

<h4>
    Content:
    <pre>
        @contentGPT
    </pre>
</h4>
<h4>
    API Result:
    <pre>
        @resultAPI
    </pre>
</h4>

@code {
    private string inputAPI1 = "";
    private string contentGPT = "no results yet";
    private string resultAPI = "no results yet.";
    private IEnumerable<AILog>? logs;

    protected override async Task OnInitializedAsync()
    {
        logs = await AILogService.GetAILogsAsync();
    }

    private async Task MakeChatGPTAPIRequest()
    {
        Console.WriteLine("Retrieving ChatGPT API...");
        Console.WriteLine(resultAPI);

        resultAPI = "Retrieving ChatGPT API...";
        resultAPI = await ChatGPTAPIService.GetSchoolResearch(inputAPI1);
        JObject jsonObject = JObject.Parse(resultAPI);
        contentGPT = (string)jsonObject["choices"][0]["message"]["content"];

        await AILogService.CreateAILogAsync(new CoreBusiness.AILog
            {
                JSON = resultAPI
            });
        StateHasChanged();
    }
}