@page "/"
@page "/API"

@using System.Text.Json
@using BrunoTheBot.CoreBusiness.Entities.Course
@using BrunoTheBot.CoreBusiness.Log
@using CoreBusiness.Entities
@using Newtonsoft.Json.Linq
@using BrunoTheBot.CoreBusiness.APIEntities

@inject GetAllBooksService GetAllBooksService

@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

@CheckRenderSide.GetOSDescription()
<hr />
@CheckRenderSide.GetOS()

<h5>
    @urlAPI
</h5>
<h5>
    @connString
</h5>

<div class="display-1">
    Courses:
</div>

<div class="book-list">
    @foreach (var book in Books)
    {
        <div class="book-item p-2">
            <h5><a href="book/@book.Id">@book.Name</a></h5>
            <a class="play-game-link" href="/Games/Regular/@book.Id">Play Game</a>
        </div>
    }
</div>

@code {

    private List<Book> Books = [];
    private BooksAPIResponse booksAPIResponse = new();

    private string connString = "";
    private string urlAPI = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var booksAPIResponse = await GetAllBooksService.ExecuteAsync();

            if (booksAPIResponse.Books != null)
            {
                var booksList = booksAPIResponse.Books.ToList();

                foreach (var book in booksList)
                {
                    Books.Add(book);
                    Console.WriteLine($"Added book: {book.Name}");
                }
            }
            else
            {
                Console.WriteLine("No books found in the API response.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }

        try
        {
            urlAPI = Configuration["localAPIURL"] ?? "localAPIURL NOT FOUND";

            connString = Configuration["ConnectionString"] ?? "ConnectionString NOT FOUND";
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }

    }
}