@page "/"
@page "/API"

@using System.Text.Json
@using BrunoTheBot.CoreBusiness.Entities.Course
@using BrunoTheBot.CoreBusiness.Log
@using CoreBusiness.Entities
@using Newtonsoft.Json.Linq
@using BrunoTheBot.CoreBusiness.APIEntities

@inject GetAllBooksService GetAllBooksService

<PageTitle>Home</PageTitle>

@CheckRenderSide.GetOSDescription()
<hr />
@CheckRenderSide.GetOS()



<div class="display-1">
    Courses:
</div>

<div class="book-list">
    @foreach (var book in Books)
    {
        <div class="book-item p-2">
            <h5><a href="book/@book.Id">@book.Name</a></h5>
            <a class="play-game-link" href="/Games/Regular/@book.Id">Play Game</a>
        </div>
    }
</div>

@code {

    private List<Book> Books = [];
    private BooksAPIResponse booksAPIResponse = new();

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("teste123123");

        booksAPIResponse = await GetAllBooksService.ExecuteAsync();

        var booksList = booksAPIResponse.Books!.ToList();

        foreach (var book in booksList)
        {
            Books.Add(book);
            Console.WriteLine(book.Name);
        }
    }
}