@page "/"
@page "/API"

@using System.Text.Json
@using BrunoTheBot.CoreBusiness.Entities.Course
@using BrunoTheBot.CoreBusiness.Log
@using CoreBusiness.Entities
@using Microsoft.AspNetCore.Components.Authorization
@using Newtonsoft.Json.Linq
@using BrunoTheBot.CoreBusiness.APIEntities

@inject GetAllSchoolsService GetAllSchoolsService
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity?.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>You're not authorized.</p>
    </NotAuthorized>
</AuthorizeView>

<button onclick="AuthenticateIt">AUTHENTICATE</button>

<h4>
    Courses:
    <pre>
        @foreach (var school in Schools)
        {
            @school.Name; <br />
        }
    </pre>
</h4>


@code {

    private List<School> Schools = [];
    private SchoolsAPIResponse response = new();

    private async Task AuthenticateIt()
    {
        await AuthenticationStateProvider.GetAuthenticationStateAsync();

    }

    protected override async Task OnInitializedAsync()
    {
        response = await GetAllSchoolsService.ExecuteAsync();

        var schoolsList = response.Schools!.ToList();

        foreach (var school in schoolsList)
        {
            Schools.Add(school);
            Console.WriteLine(school.Name);
        }
        StateHasChanged();
    }
}
