.menu-item a {
    color: #007bff; /* Cor padrão do link */
    text-decoration: none; /* Sem sublinhado */
}

    .menu-item a:visited {
        color: #ffffff; /* A mesma cor que a cor padrão */
    }

    .menu-item a:hover {
        color: #ffffff; /* Cor do link quando o mouse passa sobre ele */
        text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    }

    .menu-item a:active {
        color: #00ff21; /* Cor do link quando clicado */
    }
