@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="menu-item">
    @if (isSignedIn)
    {
        <NavLink href="/Profile" class="nav-link" active-class="active">
            <MudIcon
                Icon="@Icons.Material.Outlined.Person" Color="Color.Tertiary"
                Style="width: 50px; height: 50px">
            </MudIcon>
        </NavLink>
    }
    else
    {
        <NavLink href="/Account/Login" class="sign-in-link" active-class="active">
            <h6 class="sign-in-link mb-0">Sign In</h6>
        </NavLink>
    }
</div>

@code {
    private bool isSignedIn = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isSignedIn = user.Identity != null && user.Identity.IsAuthenticated;
    }
}
