.sign-in-link {
    color: white; /* Definir a cor do texto como branco */
    text-decoration: none; /* Remover sublinhado se necessário */
}

    .sign-in-link:focus, .sign-in-link:hover {
        color: white; /* Manter a cor branca no hover ou foco */
    }
