@page "/success"
@using Quiztle.Frontend.Components.Account.ClaimsManager

@inject StripeCustomerService StripeCustomerService
@inject AddClaims AddClaims

<div class="container">
    <h3>SucessComponent</h3>
</div>


@code {
    protected override Task OnInitializedAsync()
    {
        var result = AddClaims.TransformAsync();

        return base.OnInitializedAsync();
    }
}