@page "/success"

@inject StripeCustomerService StripeCustomerService


<div class="container">


    <h3>SucessComponent</h3>


</div>


@code {
   // var hasClaim = await GetUserInfos.HasClaim("")

}